@charset "utf-8";

* {
  margin:0; padding:0;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 9999;
}
.loading.active {
  opacity: 1;
  visibility: visible;
}
@keyframes flashing {
  50% {
    opacity: .3;
  }
}
.loadingText {
  animation: 1s flashing infinite;
}

.header {
  position: fixed;
  display: flex;
  height: 85px;
  width: 100%;
  text-decoration: none;
  z-index: 9998;
  top: 0;
  left: 0;
  background-color: rgb(8, 39, 8);
  opacity: .7;
  .site-logo {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 24px;
    left: 70px;
    }
  img {
    width: 230px;
    position: absolute;
    top: 15px;
    left: 20px;
  }
  nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    a {
      text-decoration: none;
      color: white;
    }
    li {
      text-decoration: none;
      list-style: none;
      display: inline;
      margin-left: 90px;
      margin-right: 50px;
      font-size: 20px;
      font-weight: normal;
      font-size: 20px;
      &:hover {
        opacity: 0.5;
      }
      &:active {
        top: 4px;
        text-shadow: none;
      }
    }
  }


}

#humberger {
  position: absolute;
  position: fixed;
  right: 20px;
  top: 25px;
  border: 2px solid white;
  height: 36px;
  width: 36px;
  display: inline-block;
  box-sizing: border-box;
  z-index: 9999;
  &:hover {
    opacity: 0.5;
  }
}
#humberger div {
  position: absolute;
  left: 4px;
  height: 2px;
  width: 24px;
  background-color: white;
  display: inline-block;
  box-sizing: border-box;
  z-index: 9999;
}
#humberger div:nth-of-type(1) {
  top: 8px;
}
#humberger div:nth-of-type(2) {
  top: 16px;
}
#humberger div:nth-of-type(3) {
  top: 24px;
}
.h-m-btn {
  width: 40px;
  height: 40px;
  margin-top: 23px;
  position: absolute;
  right: 20px;
  background-color: rgb(8, 39, 8);
  border: 2px solid black;
  border-radius: 5px;
}
.h-menu {
  z-index: 9999;
  position: absolute;
  position: fixed;
  right: 0px;
  width: 100%;
  height: 1100px;
  background-color: black;
  opacity: 1.0;
  .menu {
    color: white;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin: 60px 0;
  }
  .item {
    margin-top: 0px;
    text-align: center;
    width: 100%;
    color: white;
    border-top: 1px solid white;
    &:hover {
      opacity: 0.5;
    }
    &:active {
      top: 4px;
      text-shadow: none;
    }
    a {
      list-style: none;
      text-decoration: none;
      color: white;
      display: inline;
      font-size: 30px;
      display: block;
      border-radius: 10px;
      padding: 5px auto;
      letter-spacing: 0.5rem;
    }
  }
  .about {
    border-bottom: 1px solid white;
  }
}

.container_index {
  position: absolute;
  width: 100%;
  height: 1300px;
  background-image: url("/image/cssbgi.JPG");
  background-repeat: no-repeat;
  animation: fadein 2s forwards;
  background-size: cover;
  text-align: center;
  .aboutme {
    top: 210px;
  }
  h1 {
    position: relative;
    left: auto;
    right: auto;
    top: 200px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 60px;
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 45px;
    font-family: "Book Antiqua";
    color: rgb(255, 255, 255,);
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-shadow: 3px 1px 0px black;
    z-index: 9998;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .css-h1 {
    letter-spacing: 2rem;
    font-size: 50px;
    top: 230px;
    padding-left: 30px;
  }
  img {
    position: relative;
    top: -50px;
    width: 620px;
    z-index: 1;
    opacity: 0.6;
  }
  p {
    position: relative;
    top: -270px;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 2px black;
    z-index: 9998;
  }
  ul {
    display: flex;
    text-decoration: none;
    position: relative;
    top: -200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
    li {
      text-decoration: none;
      list-style: none;
      text-align: center;
      margin-top: 30px;
      width: calc(100%/3);
      &:hover {
        opacity: 0.6;
      }
      &:active {
        top: 4px;
        text-shadow: none;
      }
      a {
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 20px 20px 20px 20px;
        font-size: 40px;
        border-radius: 30px;
        opacity: .7;
        display: block;
        margin: 20px 20px;
      }
    }
  }
  .ul-css {
    margin-top: 150px;
  }
} 

.container-about {
  background-color: white;
  width: 90%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  opacity: .8;
  p {
    top: 80px;
    color: rgb(0, 0, 0);
    text-shadow: none;
    z-index: 9999;
  } 
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: rgb(8, 39, 8);
  z-index: 9997;
  opacity: .8;
  color: white;
  img {
    margin-top: 20px;
    width: 2%;
  }
  ul {
    position: absolute;
    top: -15px;
    left: 50px;
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    flex-direction: row;
    
    li {
      display: flex;
      flex-direction: row;
      display: inline;
      margin-left: 50px;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        top: 4px;
        text-shadow: none;
      }
      a {
        text-decoration: none;
        color: white;
        flex-direction: row;
        img {
        width: 100px;
        position: relative;
        top: 15px;
        z-index: 9998;
        }
      }
    }
  }
   p {
     margin-top: 10px;
     opacity: .8;
   }
}
.container {
  display:flex;

  .code {
    background-color: rgb(33, 59, 33);
    width: 50%;
    height: 800px;
    color: white;
    position: relative;
      h1 {
        text-align: center;
        margin-top: 140px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid white;
        border-radius: 20px;
        font-family: 'Yu Gothic';
        font-weight: bold;
        color: rgb(33, 59, 33);
        background-color: white;
      }
      p {
        margin-top: 40px;
        margin-left: 45px;
        font-size: 23px;
        text-align: left;
        span {
          border-bottom: 2px solid;
        }
      }
      .a1 {
        color: yellow;
        position: relative;
        left: 0px;
      }
      .a2 {
        
        position: relative;
        left: 25px;
        color: skyblue;
      }
      .a3 {
        color: pink;
        position: relative;
        left: 60px;
      }
      .border {
        border-bottom: none;
        margin-top: 0px;
      }
      .css1 {
        text-align: left;
        font-size: 30px;
        letter-spacing: 0.3em;
      }
      .css1-2 {
        margin-top: 5px;
        font-size: 30px;
        text-align: left;
        margin-left: 275px;
      }
        .n2 {
          margin-left: 53px;
        }
        .n3 {
          margin-left: 60px;
        }
      .a1-1 {
        margin-top: 0px;
        margin-left: 60px;
        text-align: left;
        position: relative;
        font-size: 20px;
        .n1-word {
          position: absolute;
          left: 190px;
          border-bottom: none;
          color: yellow;
        }
        .n2-word {
          position: absolute;
          left: 310px;
          border-bottom: none;
          color: skyblue;
        }
        .n3-word {
          position: absolute;
          left: 455px;
          border-bottom: none;
          color: pink;
        }
      }

        .css2 {
          text-align: left;
          font-size: 30px;
          letter-spacing: 0.1em;
        }
        .css2-2 {
          margin-top: 5px;
          font-size: 30px;
          text-align: left;
          margin-left: 0px;
          position: relative;
          .n0 {
            position: absolute;
            left: 260px;
            color: lightgreen;
          }
          .n1 {
            position: absolute;
            left: 383px
          }
          .n2 {
            position: absolute;
            left: 410px;
          }
          .n3 {
            position: absolute;
            left: 505px;
          }
        }
        .a2-1 {
          margin-top: 50px;
          margin-left: 60px;
          text-align: left;
          position: relative;
          font-size: 20px;
          .a0 {
            position: absolute;
            left: 175px;
            color: lightgreen;
          }
          .a1 {
            position: absolute;
            left: 293px;
          }
          .a2 {
            position: absolute;
            left: 377px
          }
          .a3 {
            position: absolute;
            left: 490px;
          }
        }
      }
  
  .hyouji {
    background-color: rgb(133, 209, 137);
    width: 50%;
    height: 800px;
    position: relative;

    .hako1 {
      position: absolute;
      left: 45%;
      top: 150px;
      font-size: 30px;
    }
    .hako2 {
      top: 400px;
      position: absolute;
      left: 45%;
      font-size: 30px;
    }
    .css1 {
      border: 2px solid black;
      margin-top: 215px;
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
      text-align: center;
      font-size: 30px;
    }
    .css2 {
      border-bottom: 2px solid black;
      margin-top: 185px;
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
      text-align: center;
      font-size: 30px;
    } 
  }
}

@media screen and (max-width:870px) { 
  .header {
    position: fixed;
    text-align: center;
    nav { 
    display: none;
    }
    img {
    max-width:50%;
    margin-top: 2px;
    }
  }

  .h-menu {
    width: 100%;
  }

  footer {
    height: 100px;
    .logo {
      display: none;
      }

    ul {
      top: -30px;
      text-align: center;
      left: 0;
      justify-content: center;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      li{
        margin: 0;
        padding: 0;
        a {
          img {
            width: 90px;
            display: inline-block;
            padding: 0 45px;
          }
        }
      }
    }
    p {
      position: relative;
      top: 60px;
    }
  }

  .container_index {
    background-size: cover;
    width : 100%;
    height: 1100px;
    h1 {
      font-size: 30px;
      top: 105px;
    }
    .css-h1 {
      font-size: 30px;
      top: 90px;
      padding-left: 0px;
      letter-spacing: 0.5rem;
    }
    img {
      width: 300px;
      top: -57px;
    }
    p {
      display: none;
    }
    ul {
      width: auto;
      top: -90px;
      flex-direction: column;
      align-items: center;
      li {
        width: 90%;
        a {
          text-align: center;
          font-size: 18px;
          display: block;
          width: 90%;
          margin: 0px auto;
          letter-spacing: 0.3rem;
        }
      }
    }
    .ul-css {
      margin-top: 50px;
    }
    .aboutme {
      top: 80px;
    }
    .container-about {
      text-align: left;
      width: 100%;
      p {
        text-align: center;
        display: block;
        margin: 15px 20px;
        font-size: 15px;
      }
      img {
        display: none;
      }
    }
  }

    .profile {
      display: none;
    }

    .container {
      flex-direction: column;
      width: 100%;
      .code {
        width: 100%;
        height: 700px;
        h1 {
          font-size: 20px;
        }
        
        p {
          font-size: 17px;
          letter-spacing: 0rem;
          margin-left: 20px;
        }
        .css1 {
          font-size: 25px;
          letter-spacing: normal;
          text-align: left;
          margin: 0;
          padding: 0;
          margin-left: 30px;
          margin-top: 20px;
        }
        
        .css1-2 {
          margin-left: 0;
          .n1 {
            left: 140px;
          }
          .n2 {
            left: 110px;
          }
          .n3 {
            left: 70px;
          }
        }
        .a1-1 {
          font-size: 15px;
          .n1-word {
            padding: 0;
            position: absolute;
            margin: 0;
            left: 60px;
          }
          .n2-word {
            padding: 0;
            margin: 0;
            left: 130px;
          }
          .n3-word {
            padding: 0;
            margin: 0;
            left: 200px;
          }
        }
      .css2 {
        font-size: 22px;
          letter-spacing: normal;
          text-align: left;
          margin: 0;
          padding: 0;
          margin-left: 30px;
          margin-top: 20px;
      }
      .css2-2 {
        margin-left: 0;
        .n0 {
          position: absolute;
          left: 140px;
        }
        .n1 {
          left: 220px;
        }
        .n2 {
          left: 220px;
        }
        .n3 {
          left: 270px;
        }
      }
      .a2-1 {
        font-size: 15px;
        .a0 {
          left: 65px;
        }
        .a1 {
          left: 145px;
        }
        .a2 {
          left: 210px;
        }
        .a3 {
          left: 275px;
        }
      }
      }
      .hyouji {
        width: 100%;
        height: 500px;
        .css1 {
          margin-top: 50px;
          font-size: 20px;
        }
        .css2 {
          font-size: 20px;
        }
      }
    }
}
