@charset "utf-8";

* {
  margin:0; padding:0;
}

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.site-header {
  position: fixed;
  display: flex;
  height: 65px;
  width: 100%;
  text-decoration: none;
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: .6;
  .site-logo {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 24px;
    left: 65px;
    }
  img {
    width: 40px;
    position: absolute;
    top: 15px;
    left: 20px;
  }
  nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    a {
      text-decoration: none;
      color: white;
    }
    li {
      text-decoration: none;
      list-style: none;
      display: inline;
      margin-left: 90px;
      margin-right: 50px;
      font-size: 20px;
      font-weight: normal;
      font-size: 20px;
      &:hover {
        opacity: 0.5;
      }
      &:active {
        top: 4px;
        text-shadow: none;
      }
      @include sp {
        display: none;
      };
    }
  }
}

@media screen and (max-width:870px) { 
  .site-header nav { 
   display: none;
 }
  .container_index h1 {
    background-size: 20% 80%;
  }
 }

.container_index {
  width: auto;
  height: 600px;
  h1 {
    background-image: url("/image/toptitle.jpg");
    background-repeat: no-repeat;
    animation: fadein 2s forwards;
    background-size: 100%;
    height: 500px;
    text-align: center;
    font-size: 50px;
    font-family: "Book Antiqua";
    color: rgb(255, 255, 255,);
    padding-top: 200px;
    font-weight: normal;
    letter-spacing: 0.3rem;
    text-shadow: 2px 2px 5px black;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.container {
  display:flex;

  .code {
    background-color: rgb(33, 59, 33);
    width: 50%;
    height: 1300px;
    color: white;
    position: relative;
      h1 {
        text-align: center;
        margin-top: 40px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid white;
        border-radius: 20px;
        font-family: 'Yu Gothic';
        font-weight: bold;
        color: rgb(33, 59, 33);
        background-color: white;
      }
      p {
        margin-top: 40px;
        margin-left: 1rem;
        font-size: 23px;
        text-align: left;
        span {
          border-bottom: 2px solid;
        }
      }
      .a1 {
        color: yellow;
        position: relative;
        left: 0px;
      }
      .a2 {
        color: skyblue;
        position: relative;
        left: 25px;
      }
      .a3 {
        color: pink;
        position: relative;
        left: 60px;
      }
      .border {
        border-bottom: none;
        margin-top: 0px;
      }
      .css1 {
        text-align: center;
        font-size: 30px;
        letter-spacing: 0.3em;
      }
      .css1-2 {
        margin-top: 5px;
        font-size: 30px;
        text-align: left;
        margin-left: 275px;
      }
        .n2 {
          margin-left: 53px;
        }
        .n3 {
          margin-left: 60px;
        }
      .a1-1 {
        margin-top: 0px;
        margin-left: 60px;
        text-align: left;
        position: relative;
        font-size: 20px;
        .a1 {
          position: absolute;
          left: 190px;
        }
        .a2 {
          position: absolute;
          left: 310px
        }
        .a3 {
          position: absolute;
          left: 455px;
        }
      }

        .css2 {
          text-align: center;
          font-size: 30px;
          letter-spacing: 0.1em;
        }
        .css2-2 {
          margin-top: 5px;
          font-size: 30px;
          text-align: left;
          margin-left: 0px;
          position: relative;
          .n0 {
            position: absolute;
            left: 260px;
            color: lightgreen;
          }
          .n1 {
            position: absolute;
            left: 383px
          }
          .n2 {
            position: absolute;
            left: 410px;
          }
          .n3 {
            position: absolute;
            left: 505px;
          }
        }
        .a2-1 {
          margin-top: 50px;
          margin-left: 60px;
          text-align: left;
          position: relative;
          font-size: 20px;
          .a0 {
            position: absolute;
            left: 175px;
            color: lightgreen;
          }
          .a1 {
            position: absolute;
            left: 293px;
          }
          .a2 {
            position: absolute;
            left: 377px
          }
          .a3 {
            position: absolute;
            left: 490px;
          }
        }
      }
  
  .hyouji {
    background-color: rgb(133, 209, 137);
    width: 50%;
    height: 1300px;
    position: relative;

    .hako1 {
      position: absolute;
      left: 45%;
      top: 150px;
      font-size: 30px;
    }
    .hako2 {
      top: 400px;
      position: absolute;
      left: 45%;
      font-size: 30px;
    }
    .css1 {
      border: 2px solid black;
      margin-top: 215px;
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
      text-align: center;
      font-size: 30px;
    }
    .css2 {
      border-bottom: 2px solid black;
      margin-top: 185px;
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
      text-align: center;
      font-size: 30px;
    } 
  }
}

.site-header-css {
  position: fixed;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: rgb(8, 39, 8);
  text-decoration: none;
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: 0.7;
  .site-logo {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 24px;
    left: 65px;
    a {
      text-decoration: none;
      color: white;
    }
    }

  img {
    width: 40px;
    position: absolute;
    top: 15px;
    left: 20px;
  }
  nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    a {
      text-decoration: none;
      color: white;
    }
    li {
      text-decoration: none;
      list-style: none;
      display: inline;
      margin-left: 90px;
      margin-right: 50px;
      font-size: 20px;
      font-weight: normal;
      font-size: 20px;
      &:hover {
        opacity: 0.5;
      }
      &:active {
        top: 4px;
        text-shadow: none;
      
      }
    }
  }
}

.container_css {
  width: auto;
  height: 600px;
  h1 {
    background-image: url("/image/cssbgi.jpg");
    animation: fadein 2s forwards;
    background-size: cover;
    height: 1800px;
    text-align: center;
    font-size: 50px;
    font-family: "Book Antiqua";
    color: rgb(255, 255, 255,);
    padding-top: 200px;
    font-weight: normal;
    letter-spacing: 1.2rem;
    text-shadow: 2px 2px 5px black;
    border: 2px solid white;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
