* {
  margin: 0;
  padding: 0;
}

.site-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  width: 100%;
  text-decoration: none;
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: .6;
}

.site-header .site-logo {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 24px;
  left: 65px;
}

.site-header img {
  width: 40px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.site-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.site-header nav a {
  text-decoration: none;
  color: white;
}

.site-header nav li {
  text-decoration: none;
  list-style: none;
  display: inline;
  margin-left: 90px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: normal;
  font-size: 20px;
}

.site-header nav li:hover {
  opacity: 0.5;
}

.site-header nav li:active {
  top: 4px;
  text-shadow: none;
}

@media (max-width: 480px) {
  .site-header nav li {
    display: none;
  }
}

@media screen and (max-width: 870px) {
  .site-header nav {
    display: none;
  }
  .container_index h1 {
    background-size: 20% 80%;
  }
}

.container_index {
  width: auto;
  height: 600px;
}

.container_index h1 {
  background-image: url("/image/toptitle.jpg");
  background-repeat: no-repeat;
  -webkit-animation: fadein 2s forwards;
          animation: fadein 2s forwards;
  background-size: 100%;
  height: 500px;
  text-align: center;
  font-size: 50px;
  font-family: "Book Antiqua";
  color: white;
  padding-top: 200px;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-shadow: 2px 2px 5px black;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 870px) {
  .container_index h1 {
    background-size: 870px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .code {
  background-color: #213b21;
  width: 50%;
  height: 1300px;
  color: white;
  position: relative;
}

.container .code h1 {
  text-align: center;
  margin-top: 40px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  border-radius: 20px;
  font-family: 'Yu Gothic';
  font-weight: bold;
  color: #213b21;
  background-color: white;
}

.container .code p {
  margin-top: 40px;
  margin-left: 1rem;
  font-size: 23px;
  text-align: left;
}

.container .code p span {
  border-bottom: 2px solid;
}

.container .code .a1 {
  color: yellow;
  position: relative;
  left: 0px;
}

.container .code .a2 {
  color: skyblue;
  position: relative;
  left: 25px;
}

.container .code .a3 {
  color: pink;
  position: relative;
  left: 60px;
}

.container .code .border {
  border-bottom: none;
  margin-top: 0px;
}

.container .code .css1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.3em;
}

.container .code .css1-2 {
  margin-top: 5px;
  font-size: 30px;
  text-align: left;
  margin-left: 275px;
}

.container .code .n2 {
  margin-left: 53px;
}

.container .code .n3 {
  margin-left: 60px;
}

.container .code .a1-1 {
  margin-top: 0px;
  margin-left: 60px;
  text-align: left;
  position: relative;
  font-size: 20px;
}

.container .code .a1-1 .a1 {
  position: absolute;
  left: 190px;
}

.container .code .a1-1 .a2 {
  position: absolute;
  left: 310px;
}

.container .code .a1-1 .a3 {
  position: absolute;
  left: 455px;
}

.container .code .css2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.1em;
}

.container .code .css2-2 {
  margin-top: 5px;
  font-size: 30px;
  text-align: left;
  margin-left: 0px;
  position: relative;
}

.container .code .css2-2 .n0 {
  position: absolute;
  left: 260px;
  color: lightgreen;
}

.container .code .css2-2 .n1 {
  position: absolute;
  left: 383px;
}

.container .code .css2-2 .n2 {
  position: absolute;
  left: 410px;
}

.container .code .css2-2 .n3 {
  position: absolute;
  left: 505px;
}

.container .code .a2-1 {
  margin-top: 50px;
  margin-left: 60px;
  text-align: left;
  position: relative;
  font-size: 20px;
}

.container .code .a2-1 .a0 {
  position: absolute;
  left: 175px;
  color: lightgreen;
}

.container .code .a2-1 .a1 {
  position: absolute;
  left: 293px;
}

.container .code .a2-1 .a2 {
  position: absolute;
  left: 377px;
}

.container .code .a2-1 .a3 {
  position: absolute;
  left: 490px;
}

.container .hyouji {
  background-color: #85d189;
  width: 50%;
  height: 1300px;
  position: relative;
}

.container .hyouji .hako1 {
  position: absolute;
  left: 45%;
  top: 150px;
  font-size: 30px;
}

.container .hyouji .hako2 {
  top: 400px;
  position: absolute;
  left: 45%;
  font-size: 30px;
}

.container .hyouji .css1 {
  border: 2px solid black;
  margin-top: 215px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  text-align: center;
  font-size: 30px;
}

.container .hyouji .css2 {
  border-bottom: 2px solid black;
  margin-top: 185px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  text-align: center;
  font-size: 30px;
}

.site-header-css {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #082708;
  text-decoration: none;
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.site-header-css .site-logo {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 24px;
  left: 65px;
}

.site-header-css .site-logo a {
  text-decoration: none;
  color: white;
}

.site-header-css img {
  width: 40px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.site-header-css nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.site-header-css nav a {
  text-decoration: none;
  color: white;
}

.site-header-css nav li {
  text-decoration: none;
  list-style: none;
  display: inline;
  margin-left: 90px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: normal;
  font-size: 20px;
}

.site-header-css nav li:hover {
  opacity: 0.5;
}

.site-header-css nav li:active {
  top: 4px;
  text-shadow: none;
}

.container_css {
  width: auto;
  height: 600px;
}

.container_css h1 {
  background-image: url("/image/cssbgi.jpg");
  -webkit-animation: fadein 2s forwards;
          animation: fadein 2s forwards;
  background-size: 100%;
  height: 1800px;
  text-align: center;
  font-size: 50px;
  font-family: "Book Antiqua";
  color: white;
  padding-top: 200px;
  font-weight: normal;
  letter-spacing: 1.2rem;
  text-shadow: 2px 2px 5px black;
  border: 2px solid white;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */